* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background-image: url(./images/695_inaction.jpg);
    background-size: cover;
    font-family: 'Rubik', sans-serif;
  }
  
  .login-form {
    background: #fff;
    width: 25%;
    height: auto;
    margin: 4% auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 2%;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

  }
  .login-form h1 {
    padding: 5% 20% 23% 3.5%;
    font-weight: 300;
  }
  .login-form .content {
    padding: 3.5%;
    text-align: center;
  }
  .login-form .input-field {
    padding: 3% 1.5%;
  }
  .login-form .input-field input {
    font-size: 100%;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 2% 0.5%;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 2%;
    margin-top: 10%;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action button:nth-child(1) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .login-form .action button:nth-child(1):hover {
    background: #3c4d6d;
  }
  #logo {
    padding: 1px;
    object-fit: cover;
    width: 50px;
    height: 50px;
  }
  #headerlogin .container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #f6d052;
    width: 100%;
  }
  #headertext {
    margin-left: 10px;
    font-size: 230%;
    font-family: Impact, fantasy;
    color: #ffffff;
  }
  #headertext ul {
    margin: 0;
  }