<div id="footer">
    <div id="footer-wrapper">
        <div class="button-wrapper">
            <button type="button" class="footer-page-button" id="match-listing-btn" page="Match Strategy">
                <img class="footer-icon" src="../static/images/match-listing.png">
                <p class="footer-subtext" >Matches</p>
            </button>
        </div>
        <div class="button-wrapper">
            <button type="button" class="footer-page-button" id="data-collection-btn" page="Data Collection">
                <img class="footer-icon" src="../static/images/data-collection.png">
                <p class="footer-subtext">Data Entry</p>
            </button>
        </div>
        <div class="button-wrapper">
            <button type="button" class="footer-page-button" id="match-strategy-button" page="Match Strategy">
                <img class="footer-icon" src="../static/images/match-strategy.png">
                <p class="footer-subtext">Strategy</p>
            </button>
        </div>
        <div class="button-wrapper">
            <button type="button" class="footer-page-button" id="team-summary-button" page="Team Summary">
                <img class="footer-icon" src="../static/images/team-summary.png">
                <p class="footer-subtext">Teams</p>
            </button>
        </div>

        <div class="button-wrapper">
            <button type="button" class="footer-page-button" id="team-rankings-button" page="Rankings">
                <img class="footer-icon" src="../static/images/rankings.svg">
                <p class="footer-subtext">Rankings</p>
            </button>
        </div>
    </div>
</div>
