<div id=headerlogin>
  <div class="container">
    <img id="logo" src="../static/images/bison-robotics.png">
    <p id=headertext><b>Bison Robotics <br> Team 695</b></p>
    <button id ="dropdown">
      <img id="dropdownImg" src="../static/images/dropdown.png">
      <div id="dropdown-content">
        <p>Match Listing</p>
        <% for(let i = 0; i<10; i++) {%>

        <li style="padding-top: 1vh;">Empty</li>

        <% } %>
      </div>
    </button>
  </div>
</div>