<div id=headerlogin>
  <div class="container">
    <img id="logo" src="../static/images/bison-robotics.png">
    <p id=headertext><b>Bison Robotics <br> Team 695</b></p>
    <p id="username-holder" class="unselectable"></p>
    <button id ="dropdown">
      <img id="dropdownImg" src="../static/images/dropdown.png">
    </button>
    <div id="dropdown-content">
      <%if(isAdmin) {%>
        <button id="admin-page-button">Admin Page</button>
        <button id="match-verify-button">Match Verify</button>
        <button id="alliance-input-button">Alliance Input</button>
      <%}%>
      <button id="alliance-selector-button">Alliance Selector</button>
      <button id="team-details-button">Team Details</button>
      <button id="pit-scouting-button">Pit Scouting</button>
      <button id="data-accuracy-button">Data Accuracy</button>
      <a target="_blank" rel="noopener noreferrer" href="https://www.thebluealliance.com/team/695">Team Page</a>
      <a target="_blank" rel="noopener noreferrer" href="https://frc-events.firstinspires.org/team/695">Team Stats</a>
      <a target="_blank" rel="noopener noreferrer" href="">Tear Sheet</a>
      <a target="_blank" rel="noopener noreferrer" href="https://scoutify-test-fqlc.vercel.app/2025finalized.html">Game Simulation</a>
      <button id="log-out-button">Log Out</button>
    </div>
  </div>
</div>
