<div id=headerlogin>
  <div class="container">
    <img id="logo" src="../static/images/bison-robotics.png">
    <p id=headertext><b>Bison Robotics <br> Team 695</b></p>
    <button id ="dropdown">
      <img id="dropdownImg" src="../static/images/dropdown.png">
    </button>
    <div id="dropdown-content">
      <button id="match-listing">Match Listing</button>
      <a href="https://www.thebluealliance.com/team/695">Team Page</a>
      <a href="https://frc-events.firstinspires.org/team/695">Team Stats</a>
    </div>
  </div>
</div>