<div id=headerlogin>
    <div class="container">
      <img id="logo" src="../static/images/bison-robotics.png">
      <p id=headertext><b>Bison Robotics <br> Team 695</b></p>
      <img id="dropdown" src="../static/images/dropdown.png">
    </div>
  </div>