# Database configuration
DATABASE_HOST="localhost"
DATABASE="database_name"
DB_USER="database_user"
DB_PASS="database_password"

# FIRST API & TBA API credentials
FIRST_AUTH="username:password_or_token"
TBA_AUTH="tba_auth_token"

# Casdoor configuration
CASDOOR_SECRET="casdoor_secret_key"

# Logging configuration
LOG="1"
TRACE_LOG="0"

# Set to true to allow running the server without TLS certs. 
# This is not recommended for production use, but can be useful for development or testing.
# PRODUCTION USE: false
# DEVELOPMENT USE: true
SERVER_DEV_MODE=true

# Set to true to allow service tokens (API_ACCESS_KEY, API_ACCESS_SECRET) to be used for authentication. 
# This is not recommended for production use, but can be useful for development or testing.
# PRODUCTION USE: false
# DEVELOPMENT USE: true (recommended: false)
TEAM_API_ALLOW_SERVICE_TOKENS=false

# TEAM_API_ACCESS_KEY="your_service_token_access_key"
# TEAM_API_ACCESS_SECRET="your_service_token_secret_key"