<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <div id="page-holder">
        <div id="alliance-selector-scroller">
            <div id="alliance-display">
                <p class="alliance-selector-header">
                    Current Alliance Picks
                </p>
                <div class="strategy-divider">ㅤ</div>
                <table id="alliance-display-table">
                    <thead>
                        <tr>
                            <th>Alliance</th>
                            <th>Captain</th>
                            <th>1st Pick</th>
                            <th>2nd Pick</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for (let i=0; i < 8; i++) {%>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    695
                                </td>
                                <td>
                                    191
                                </td>
                                <td>
                                    2010
                                </td>
                            </tr>
                            <% } %>
                    </tbody>

                </table>
            </div>

            <p class="alliance-selector-header">
                Available Teams
            </p>
            <div class="strategy-divider">ㅤ</div>

            <div class="small-input-container" id="sort-by">
                <label for="sorting-options"> <b>Sort By: </b> </label>
                <select name="sorting-options" id="sorting-options">
                    <option value="best">Overall Best</option>
                    <option value="scoring">Scoring</option>
                    <option value="defense">Defense</option>
                </select>
            </div>

            <table id=available-teams-table>
                <th>Team</th>
                <th>Game Score</th>
                <th>Links</th>
                <th>Chg Station</th>
                <th>Api Rank</th>
            </table>
        </div>
    </div>
</body>