<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <div id="page-holder">
        <div id="our-team">
            <p id="our-team-header">
                Our Team
            </p>
            <div class="strategy-divider">ㅤ</div>
            <div id="selected-teams-display">
                <div class="selected-team">
                    <button>
                        695
                    </button>
                </div>
                <div class="selected-team">
                    <button>
                        4269
                    </button>
                </div>
                <div class="empty-team">
                    <button>
                        Empty
                    </button>
                </div>
                <div class="empty-team">
                    <button>
                        Empty
                    </button>
                </div>
            </div>
            <div id="our-team-stats">
                <p>
                    Shooting: 30
                </p>
                <p>
                    Def: N/A
                </p>
                <p>
                    Hangar: 20pts
                </p>
            </div>
        </div>
        <div id="our-team">
            <p id="our-team-header">
                Available Teams
            </p>
            <div class="strategy-divider">ㅤ</div>

            <div id="sort-by">
                <label for="sort-by"> <b>Sort By: </b> </label>
                <select name="options" id="options">
                    <option value="Shooting">Shooting</option>
                    <option value="Defense">Defense</option>
                    <option value="Auto">Auto</option>
                </select>
            </div>

            <table id = available-teams>
                <th>Rank</th>
                <th>Team</th>
                <th></th>
                <th></th>
                <th></th>

            </table>
        </div>
    </div>
</body>