<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <div id="page-holder">
        <div id="alliance-selector-scroller">
            <div id="alliance-display">
                <p id="alliance-selector-header">
                    Alliance Picks For Alliance: None
                </p>
                <div class="strategy-divider">ㅤ</div>
                <div id="alliance-table-holder">
                    <table id="alliance-display-table">
                        <colgroup>
                            <col span="1" style="width: 18%">
                            <col span="1" style="width: 11%">
                            <col span="1" style="width: 11%">
                            <col span="1" style="width: 11%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Alliance</th>
                                <th>Cap</th>
                                <th>1st</th>
                                <th>2nd</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < 8 ; i++) { %>
                                <tr>
                                    <td>
                                        <%=i+1%>
                                    </td>
                                    <% for(let j = 0; j < 3 ; j++) { %>
                                        <td>
                                            <% let selectedTeam = "" 
                                            let row = data.find((e) => e.alliance_number == i)
                                            if(row != null) {
                                                if(j == 0) {
                                                    selectedTeam = row.alliance_captain
                                                } else if(j == 1) {
                                                    selectedTeam = row.alliance_first
                                                } else if(j == 2) {
                                                    selectedTeam = row.alliance_second
                                                } 
                                            } %>
                                            <%if(selectedTeam != null && selectedTeam != "") { %>
                                                <%=selectedTeam.toString()%>
                                            <%} %>
                                        </td>
                                    <% } %>
                                <tr>
                            <% } %>
                        </tbody>
                    </table>

                    <div id="alliance-suggestions-scroller">
                        <table id="alliance-suggestions">
                            <colgroup>
                                <col span="1" style="width: 8%">
                                <col span="1" style="width: 22%">
                                <col span="1" style="width: 70%">
                            </colgroup>
        
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Team #</td>
                                    <td>Suggestion</td>
                                </tr>
                            </thead>
                            <tbody><tr><td><b>1</b></td><td></td><td></td></tr><tr><td><b>2</b></td><td></td><td></td></tr><tr><td><b>3</b></td><td></td><td></td></tr><tr><td><b>4</b></td><td></td><td></td></tr><tr><td><b>5</b></td><td></td><td></td></tr></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p id="available-teams-header">
                Available Teams
            </p>
            <div class="strategy-divider">ㅤ</div>

            <div class="small-input-container" id="sort-by">
                <label for="sorting-options"> <b>Sort By: </b> </label>
                <select name="sorting-options" id="sorting-options">
                    <option value="best">Overall Best</option>
                    <option value="scoring">Game Score</option>
                    <option value="auton">Auton Score</option>
                    <option value="speaker">Speaker Score</option>
                    <option value="amp">Amplifier Score</option>
                    <option value="stage">Stage Score</option>
                    <option value="trap">Trap Score</option>
                </select>
            </div>

            <table id="available-teams-table">
                <colgroup>
                    <col span="1" style="width: 12.5%">
                    <col span="1" style="width: 12.5%">
                    <col span="1" style="width: 12.5%">
                    <col span="1" style="width: 12.5%">
                    <col span="1" style="width: 13.5%">
                    <col span="1" style="width: 12">
                    <col span="1" style="width: 12%">
                </colgroup>
                <thead>
                    <th class="alliance-selector">Team</th>
                    <th class="alliance-selector">Api Rank</th>
                    <th class="alliance-selector">Game Score</th>
                    <th class="alliance-selector">Auton</th>
                    <th class="alliance-selector">Speaker Unamped</th>
                    <th class="alliance-selector">Speaker Amped</th>
                    <th class="alliance-selector">Amp Score</th>
                    <th class="alliance-selector">Stage Score</th>
                    <th class="alliance-selector">Trap Score</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
