<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/data-collection.css">
    <link rel="stylesheet" href="../static/team-summary.css">
    <link rel="stylesheet" href="../static/match-strategy.css">
    <link rel="stylesheet" href="../static/alliance-selector.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> <!--Chart.js CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script type="module" src="../static/scripts/team-summary.js" defer></script>
    <script type="module" src="../static/scripts/data-collection.js" defer></script>
    <script type="module" src="../static/scripts/alliance-selector.js" defer></script>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
</head>

<body>

    <%- include("../static/partials/header") %>

        <div id="page-holder">
            <form id="match-number-form" action="/data-collection" method="POST">
                <!-- MATCH NUMBER-->

                <div class="small-input-container" id="match-number">
                    <label for="match-number"><b>Match Number:</b></label>
                    <input id="games-val" type="number" name="match-number" list="games">
                    
                    <datalist id="games">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                    </datalist>
                </div>

                <!--ASSIGNED TEAM-->
                <div id="assigned-team">
                    <span>Assigned Team: </span>
                    <span class=<%=user.teamColor %> > <%= user.assignedTeam %></span>
                </div>

                <div id="input-scroller">
                    <!--PREGAME-->
                    <div class="line" id="pre-game">ㅤ</div>
                    <div class="input-container">
                        <span>Starting Position</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">+</button>
                            <input type="number" name="starting-position" min="1" max="6" value="1">
                            <button type="button" class="big-button">-</button>
                        </div>
                    </div>
                    <div class="input-container">
                        <span>Robot Preload</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">x</button>
                            <input name="robot-preload">
                            <button type="button" class="big-button">
                                <img src="../static/images/checkmark.png" id="button-checkmark">
                            </button>
                        </div>
                    </div>

                    <div class="line" id="autonomous">ㅤ</div>

                    <div class="input-container">
                        <span>Robot Leaves Community</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">x</button>
                            <input name="robot-taxies">
                            <button type="button" class="big-button">
                                <img src="../static/images/checkmark.png" id="button-checkmark">
                            </button>
                        </div>
                    </div>

                    <div class="input-container">
                        <span>Robot Auto Docking</span>
                        <div class="radio-button-container">
                            <input type="radio" id="auto-engaged" name="auto-docking" value="engaged">
                            <label for="auto-engaged">Engaged</label>
                            <br>
                            <input type="radio" id="auto-docked" name="auto-docking" value="docked">
                            <label for="auto-docked">Docked (not engaged)</label>
                            <br>
                            <input type="radio" id="auto-attempted" name="auto-docking" value="attempted">
                            <label for="auto-attempted">Attempted</label>
                            <br>
                            <input type="radio" id="auto-unattempted" name="auto-docking" value="unattempted">
                            <label for="auto-unattempted">Unattempted</label>
                        </div>
                    </div>
                    
                    <!--TELEOP-->
                    <div class="line" id="tele-op">ㅤ</div>

                    <div class="input-container">
                        <span>Robot Teleop Docking</span>
                        <div class="radio-button-container">
                            <input type="radio" id="teleop-engaged" name="teleop-docking" value="engaged">
                            <label for="teleop-engaged">Engaged</label>
                            <br>
                            <input type="radio" id="teleop-docked" name="teleop-docking" value="docked">
                            <label for="teleop-docked">Docked (not engaged)</label>
                            <br>
                            <input type="radio" id="teleop-attempted" name="teleop-docking" value="attempted">
                            <label for="teleop-attempted">Attempted</label>
                            <br>
                            <input type="radio" id="teleop-unattempted" name="teleop-docking" value="unattempted">
                            <label for="teleop-unattempted">Unattempted</label>
                        </div>
                    </div>

                    <!--ENDGAME-->
                    <div class="line" id="endgame">ㅤ</div>
                    
                    <!--EXTRA SPACING AT THE END-->
                    <div style="margin-bottom: 3.69vh;">
                    </div>
                </div>

                <!--SUBMIT-->
                <img src="../static/images/fade.png" id="data-fade">
                <!--fade out at the bottom-->
                <button type="submit" id="data-submit" class="big-button">Submit</button>
            </form>
        </div>

        <%- include("../static/partials/footer") %>

    </body>

    </html>