<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="./static/data-collection.css">
</head>

<body>

    <%- include("../static/partials/header") %>
    
    <div id="footer">
        <div id = "footer-wrapper">
            <button type = "button" class = "footer-page-button">
                <img class="footer-icon" src="../static/images/data-collection.png">
                <p class="footer-subtext">Data Collection</p>
            </button>
            <button type = "button" class = "footer-page-button">
                <img class = "footer-icon" src = "../static/images/match-strategy.png">
                <p class="footer-subtext">Match Strategy</p>
            </button>
            <button type = "button" class = "footer-page-button">
                <img class = "footer-icon" src = "../static/images/team-summary.png">
                <p class = "footer-subtext">Team Summary</p>
            </button>
            <button type = "button" class = "footer-page-button">
                <img class = "footer-icon" src = "../static/alliance-selector.png">
                <p class = "footer-subtext">Aliance Selector</p>
            </button>
        </div>
    </div>

</body>

</html>