<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/universal.css">
    <title>Data Accuracy bro</title>
</head>
<body>
    <div id="page-holder">
        <script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>

        <label for="dropdown">Choose an option:</label>
        <select id="dropdown" name="options">
            <option value="autoAmpNoteCount">autoAmpNoteCount</option>
            <option value="autoSpeakerNoteCount">autoSpeakerNoteCount</option>
            <option value="teleopSpeakerNoteCount">teleopSpeakerNoteCount</option>
            <option value="teleopAmpNoteCoun">teleopAmpNoteCoun</option>
        </select>
        
        <div id="accuracy-graph-holder">
            <div id="accuracy-chart-area-wrapper">
                <h1 id="first-header">Teleop Speaker Note Count</h1>
                <canvas id="chart1" width="400" height="400"></canvas>
                <canvas id="chart2"></canvas>
            </div>
            <!--Chart.js-->
        </div>

        <script type="module" src="../static/scripts/data-accuracy.js"></script>
    </div>
</body>
</html>