<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/data-collection.css">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script src="../static/scripts/data-collection.js" defer></script>
    <%- include("../static/partials/header") %>

        <div id="page-holder">
            <form id="match-number-form">
                <!-- MATCH NUMBER-->

                <div class="small-input-container" id="match-number">
                    <label for="match-number">Match Number:</label>
                    <button type="button" class="smallButton"><b>+</b></button>
                    <input type="number" name="match-number" min="0" value="1">
                    <button type="button" class="smallButton"><b>-</b></button>
                </div>

                <!--ASSIGNED TEAM-->
                <div id="assigned-team">
                    <span>Assigned Team: </span>
                    <span class=<%=user.teamColor %> > <%= user.assignedTeam %></span>
                </div>

                <div id="input-scroller">
                    <!--PREGAME-->
                    <div class="line" id="pre-game"></div>
                    <div class="input-container">
                        <span>Starting Position</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">+</button>
                            <input type="number" name="starting-position" min="1" value="1">
                            <button type="button" class="big-button">-</button>
                        </div>
                    </div>
                    <div class="input-container">
                        <span>Robot Preload</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">+</button type="button">
                            <input type="number" name="starting-position" min="0" max="2" value="1">
                            <button type="button" class="big-button">-</button>
                        </div>
                    </div>

                    <div class="line" id="autonomous"></div>

                    <div class="input-container">
                        <span>Robot Taxies (moves)</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">x</button>
                            <input type="number" name="starting-position" min="0" max="2" value="1">
                            <button type="button" class="big-button">🗸</button>
                        </div>
                    </div>
                    <div class="input-container">
                        <span>Auto Cargo Acquired</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">+</button>
                            <input type="number" name="starting-position" min="0" max="2" value="1">
                            <button type="button" class="big-button">-</button>
                        </div>
                    </div>
                    <div class="input-container">
                        <span>Auto Cargo High Goal</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">+</button>
                            <input type="number" name="starting-position" min="0" max="2" value="1">
                            <button type="button" class="big-button">-</button>
                        </div>
                    </div>
                    <div class="input-container">
                        <span>Auto Cargo Low Goal</span>
                        <div class="NumberButtonContainer">
                            <button type="button" class="big-button">+</button>
                            <input type="number" name="starting-position" min="0" max="2" value="1">
                            <button type="button" class="big-button">-</button>
                        </div>
                    </div>
                </div>
                <img src="../static/images/fade.png" id = "data-fade">
                <!--SUBMIT-->
                <button type="submit" id = "data-submit" class="big-button">Submit</button>
            </form>
        </div>

        <%- include("../static/partials/footer") %>

</body>

</html>