<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Accuracy bro</title>
</head>
<body>
    <script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
    <canvas id="chartForDA"></canvas>
    <canvas id="chart2"></canvas>
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=ResizeObserver"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" defer></script>
    <script type="module" src="../static/scripts/team-summary.js" defer></script>
    <script type="module" src="../static/scripts/data-collection.js" defer></script>
    <script type="module" src="../static/scripts/alliance-selector.js" defer></script>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <script type="module" src="../static/scripts/match-listing.js" defer></script>
    <script type="module" src="../static/scripts/match-verify.js" defer></script>
    <script type="module" src="../static/scripts/admin-page.js" defer></script>
    <script type="module" src="../static/scripts/match-strategy.js" defer></script>
    <script type="module" src="../static/scripts/rankings.js" defer></script>
    <script type="module" src="../static/scripts/team-details.js" defer></script>
    <script type="module" src="../static/scripts/alliance-input.js" defer></script>
    <script type="module" src="../static/scripts/alliance-selector.js" defer></script>

    <script type="module" src="../static/scripts/header.js" defer></script>
    <script type="module" src="../static/scripts/data-accuracy.js"></script>
</body>
</html>