<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="./static/universal.css">
    <link rel="stylesheet" href="./static/data-collection.css">
</head>

<body>

    <%- include("../static/partials/header") %>
    <%- include("../static/partials/footer") %>

</body>

</html>