<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="./static/universal.css">
  <link rel="stylesheet" href="./static/login-page.css">

</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
  <script src="../static/scripts/login.js" defer></script>

  <%- include("../static/partials/header") %>

  <div class="page-holder">
    <img id="login-form-icon" src="../static/images/PersonIcon.png">

    <div id="login-form">
      <form class="centerform" action="/login" method="POST">
        <div id="form-container">

          <div class="input-container">
            <img src="../static/images/hashtag.png">
            <input type="text" name="team_number" placeholder="Team Number">
          </div>

          <div class="input-container">
            <img src="../static/images/atSymbol.png">
            <input type="text" name="username" placeholder="Username">
          </div>

          <div class="input-container">
            <img src="../static/images/lock.png">
            <input type="password" name="password" placeholder="Password">
          </div>

          <input id="sign-in-btn" type="submit" value="Sign In">
          <div class="line"></div>
          <input id="sign-up-btn" type="button" value="Sign Up">
        </div>
      </form>
    </div>

  </div>
</body>

</html>