<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Log In</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
        <link rel="stylesheet" href="./static/universal.css">
        <link rel="stylesheet" href="./static/login-page.css">
        <link rel="icon" href="../static/images/bison-robotics.png" type="image/png">

        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
        <script type="module" src="../static/scripts/login.js" defer></script>
    </head>

    <body>

        <!--Custom login header (functionality disabled)-->
        <div id=disabled-header>
            <div id="disabled-container">
                <img src="../static/images/bison-robotics.png">
                <p><b>Bison Robotics <br> Team 695</b></p>
            </div>
        </div>

        <div id="page-holder">
            <div id="loading-container">
                <p id="loading-text">Redirecting you to casdoor...</p>
                <img id="loading-gif" src="../static/images/loading/loading.gif">
            </div>

        </div>
    </body>

</html>
