<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="./static/styles.css">

</head>
<body>
<div id = headerlogin>
    <div class = "container">
        <img id = "logo" src = "../static/images/bison-robotics.png">
        <p id = headertext><b>Bison Robotics <br> Team 695</b></p>
        <img id = "dropdown" src = "../static/images/dropdown.png">
    </div>
  </div>
<!-- partial:index.partial.html -->
<div class = "page-holder">
  <div class="login-form">
    <form class = "centerform">
      <h1>Log In</h1>
      <div class="content">
        <div class="input-field">
          <input type="username" placeholder="username" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="tNum" placeholder="Team Number" autocomplete="nope">
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" autocomplete="new-password">
        </div>
      </div>
      <div class="action">
        <button>Sign in</button>
      </div>
    </form>
  </div>
</div>
<!-- partial -->

</body>
</html>
