<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="../static/universal.css">
    <link rel="stylesheet" href="../static/team-summary.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> <!--Chart.js CDN-->

</head>

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <%- include("../static/partials/header") %>
    <div id="page-holder">
        <div id="legend">
            <h1>hi</h1>
            <div class="line" id="divider">ㅤ</div>
            <ul>
                <li>
                    no
                </li>
                <li>
                    yes
                </li>
            </ul>
        </div>
    </div>
</body>