<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <script type="module" src="../static/scripts/match-listing.js" defer></script>
    <div id="page-holder">
            <% for (let i=0; i < 5; i++) { %>
                <table class="match-top">
                    <tr></tr>
                </table>
            <% } %>
        </table>
    </div>
</body>