<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <script type="module" src="../static/scripts/match-listing.js" defer></script>
    <div id="page-holder">
        <div class="bigtabletop">
            <table id="match-listing-table">19
                <tr>
                    <th>Match Number</th>
                    <th class="red">Red 1</th>
                    <th class="red">Red 2</th>
                    <th class="red">Red 3</th>
                    <th class="blue">Blue 1</th>
                    <th class="blue">Blue 2</th>
                    <th class="blue">Blue 3</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>695</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>695</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>695</td>
                    <td>1234</td>
                    <td>1234</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>695</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>695</td>
                    <td>1234</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>1234</td>
                    <td>695</td>
                    <td>1234</td>
                    <td>1234</td>
                </tr>
            </table>
        </div>
    </div>
</body>