<!DOCTYPE html>
<html lang="en">

<body>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    <script type="module" src="../static/scripts/match-listing.js" defer></script>
    <div id="page-holder">
        <h1 id="match-listing-title">Matches</h1>
        <div id="match-scroller">
            <% for (let i=1; i <= 20; i++) { %>
                <div class="match-container hidden">
                    <table class="match-top">
                        <th>
                            <%= "Match " + i %>
                        </th>
                        <th>
                            <% new Date(teams[0].gm_timestamp).getMinutes() %>
                        </th>
                        <th>
                            <div class="start-stop-button">
                                <img src="../static/images/play-button.png">
                            </div>
                        </th>
                    </table>
                    <table class="match-bottom">
                        <th class="red">1234</th>
                        <%if(i % 3 ==0) {%>
                            <th class="red">695</th>
                        <%} else {%>
                            <th class="red">8912</th>
                        <%}%>
                        <th class="red">4269</th>
                        <th class="blue">9892</th>
                        <th class="blue">0921</th>
                        <th class="blue">3219</th>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</body>