<!DOCTYPE html>
<html lang="en">

<body>
<script>
window.onload = function() {
    // Set the desired zoom level (1 is default)
    var zoomLevel = 1.5; // Change this value to adjust the zoom level
    
    // Apply the zoom level to the body
    document.body.style.zoom = zoomLevel;
};
</script>
    <div id="page-holder">
        <div id="pit-scouting-iframe-holder" class="container">
            <iframe src="pit-scouting/" title="Pit scouting webpage"></iframe>
        </div>
    </div id="page-holder">
</body>
