<!DOCTYPE html>
<html lang="en">

<style>
#page-holder {
  position: relative;
  width: 100%;
  height: 100vh; /* Set height to fill the entire viewport */
}
iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
</style>

<body>
    <div id="page-holder">
        <div id="pit-scouting-iframe-holder" class="container">
            <iframe src="pit-scouting/" title="Pit scouting webpage"></iframe>
        </div>
    </div>
</body>
