<!DOCTYPE html>
<html>
<head>
  <title>Pit Scouting</title>
</head>
<body>
<div id="app">
  <form action="/pit-scouting"> 
    <div v-for="x in inputs" :key="x.type">
      <div v-if="x.type ==='textarea'">
        <label>{{ x.question }}</label>
        <br>
        <textarea></textarea>
        <br>
      </div>
      <div v-if="x.type === 'select'">
        <label>{{ x.question }}</label>
        <br>
        <select>
        <option v-for="(option, index) in x.options" :key="index">{{ option }}</option>
        </select>
        <br>
      </div>
      <div v-if="x.type ==='file'">
      	<label>Select Files:</label>
        <br>
        <input :type="x.type">
        <br>
      </div>
      <div v-if="x.type === 'text'||x.type === 'number'">
      	<label>{{ x.question }}</label>
      	<br>
      	<input :type="x.type" min="0" required>
      	<br>
      </div>
      <div v-if="x.type === 'radio'||x.type === 'checkbox'">
      	<label>{{ x.question }}</label>
      	<br>
        <div v-for="(option, index) in x.options" :key="index">
      		<input :type="x.type" :name="x"  :required="x.type === 'radio'">{{ option }}
      		<br>
        </div>
      </div>
    </div>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  </form>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        inputs: [
          { question: 'Team number', type: 'number' },
          { question: 'Type of drive train', type: 'radio', options: ['Tank Drive ("skid steer", plates on both sides of wheels)', 'West Coast Drive (wheels mounted off one side of tube)', 'Swerve Drive','Other']  },
          { question: 'Type of wheels used', type: 'checkbox', options: ["Traction","Mecanum (rollers at 45° angle)","Omni (rollers at 90° angle)","Other"] },
          { question: 'Robot Weight', type: 'number' },//wnat to add max of 125
          { question: 'Robot Dimension (Length in Inches) without bumpers - front to back', type: 'number' },//might need to be text
          { question: 'Robot Dimension (Width in Inches) without bumpers - left to right', type: 'number' },//might need to be text
          { question: 'Robot Dimension (Height in Inches) from floor to highest point on robot at the start of the match', type: 'number' },//might need to be text
          { question: 'Drive Team Members', type: 'checkbox', options: ["One person driving and operating the robot during a match","Other"] },
          { question: 'Hours/Weeks of Practice', type: 'text' },
          { question: 'Picture - Full Robot', type: 'file' },
          { question: 'Picture - Drive Train', type: 'file' },
          { question: 'Additional Comments', type: 'textarea' },
        ]
      }
    }
  })
  app.mount('#app');
  
//to do: questions w/ preselected values & w/ required inputs, and give the "other" text
</script>
</body>
</html>
