<!DOCTYPE html>
<html lang="en">

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script type="module" src="../static/scripts/team-summary.js" defer></script>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    
    <%- include("../static/partials/header") %>

    <div id="page-holder">
        <div id="legend">
            <h1>Legend</h1>
            <div class="line" id="divider">ㅤ</div>
            <ul>
                <li>
                    The climb letter is represented by the letter on the graph
                </li>
                <li>
                    The shooting ability is represented by the color of the letter
                </li>
            </ul>
        </div>

        <div id="graph-holder">
            <!--Chart.js-->
            <canvas id="teamSummaryChart" style="width:100%; height: 500px"></canvas>
        </div>

        <button type="button" id="update-graph" class="big-button">Update</button>


    </div>

        <%- include("../static/partials/footer") %>
</body>

</html>