<!DOCTYPE html>
<html lang="en">

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script type="module" src="../static/scripts/team-summary.js" defer></script>
    <script type="module" src="../static/scripts/bottomBar.js" defer></script>
    
    <%- include("../static/partials/header") %>

    <div id="page-holder">
        <!--
            <div id="legend">
                <h1>Legend</h1>
                <div class="line" id="divider">ㅤ</div>
                <ul>
                    <li>
                        Page is a work in progress
                    </li>
                </ul>
            </div>
        -->
        <div id="highlight-team-container">
            <label for="highlight-team"> <b>Highlight team: </b> </label>
            <input name="highlight-team" id="highlight-team" type="number">
        </div>

        <div id="highlight-match-container">
            <label for="highlight-match"> <b>Highlight match: </b> </label>
            <input name="highlight-match" id="highlight-match" type="number">
        </div>
        
        <div id="graph-display-container">
            <input class="edge-left" type="button" value="FRC Rank" name="0">
            <input type="button" value="Game Score" name="1">
            <input type="button" value="Links" name="2">
            <input type="button" value="Auton Charge Station" name="3">
            <input class="edge-right" type="button" value="Endgame Charge Station" name="4">
            <input class="edge-right" type="button" value="Num. Games Played" name="5">
        </div>


        <div id="team-summary-container">

            <button id="arrow-left">
                <img src="../static/images/arrow-left.svg">
            </button>
            <div id="graph-holder">
                <div id="chart-area-wrapper">
                    <canvas id="scatterplot-chart" display="true"></canvas>
                    <canvas id="bar-graph-chart" width="100%" height="300%" display="false"></canvas>
                </div>
                <!--Chart.js-->
            </div>
            <button id="arrow-right">
                <img src="../static/images/arrow-right.svg">
            </button>
        </div>

    </div>

        <%- include("../static/partials/footer") %>
</body>

</html>