#accuracy-chart-area-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}
 #accuracy-graph-holder {
    margin-top: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
    background-color: #FFF;
    /* box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; */
    overflow: auto;
}
#first-header {
    font-size: 2rem; /* Adjust the size as necessary */
    font-weight: bold;
    margin-bottom: 400px; /*Space between the header and the graphs */
    /* margin-top: 0px; */
    padding-top: 0px;
    vertical-align: top;    
    text-align:center;
}
/* *{
    padding: 0;
    margin: 0;
    font-family: monospace;
} */
ul {
    list-style: none;
    background: #22438C;
    padding: 0;
    margin: 0;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 200px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: #112C66;
}
ul li:hover ul.dropdown {
    display: block;
}

/* #chart1{

} */