
.footer-icon {
    object-fit: contain;
    height: 6vh;
}

.button-wrapper {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    background-color: #E2F1FF;
}


.footer-page-button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 0px;
    background-color: #E2F1FF;
}

.footer-subtext {
    font-size: smaller;
    color: #2D3B55;
}

#footer-wrapper {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
}

#footer {
    width: 100vw;
}
