#accuracy-chart-area-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}
 #accuracy-graph-holder {
    margin-top: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
    background-color: #FFF;
    /* box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; */
    overflow: auto;
}
/* #chart1{

} */