*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.match-top {
    width: 80vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    text-align: center;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
    border-radius: 12px 12px 0 0;;
}

.match-top th {
    padding: 5px 6px;
    background: #FFF;
    text-align: center;
}

.match-bottom {
    width:80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    text-align: center;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
    border-radius: 0 0 4px 4px;
}

.match-bottom th {
    padding: 5px 6px;
    background: #FFF;
}

.start-stop-button {
    font-size: 2.5vh;
    height: 3vh;
    color: #000;
    background-color: transparent;
    border: 0;
}

.start-stop-button img {
    height: 100%;
    width: auto;
}