*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.match-listing-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 90%;
    height: 76vh;
    margin-top: 1vh;
}

#match-listing-table {
    z-index: 2;
    width: 85%;
    height: 20%;
    background-color: #fafafa;
    text-align: center;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
    border-radius: 12px 12px 0 0;;
}

#match-listing-table th,td {
    padding: 5px 6px;
}

#match-listing-table th {
    background: #FFF;
}

#match-listing-table td {
}