* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    /*background-image: url(./images/695_inaction.jpg);*/
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    font-size: 2vh;
  }
  
  .login-form {
    background: #fff;
    width: 40vw;
    height: 92.5vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 0%;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

  }
  .login-form h1 {
    padding: 10vh 3% 2% 2%;
    font-weight: 1000;
  }
  .login-form .content {
    padding: 3.5%;
    text-align: center;
  }
  .login-form .input-field {
    padding: 3% 1.5%;
  }
  .login-form .input-field input {
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 2% 0.5%;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 30%;
    border: none;
    padding: 2%;
    margin-left: 23vw;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action button {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .login-form .action button:hover {
    background: #3c4d6d;
  }
  #logo {
    height: calc(20px + 3vh);
    padding: 0.2%;
    object-fit: cover;

  }

  #headerlogin .container{
    box-shadow: 0px -2px 15px rgb(135, 173, 209) inset;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #3492ea;
    width: 100%;
    height: calc(20px + 3vh);
    border-bottom: 5px;
  }
  #headertext {
    font-size: 1.5vh;
    height: calc(20px + 3vh);
    margin-top:  8px;
    margin-left: 10px;
    font-family: 'Rubik', fantasy;
    color: #ffffff;
  }
  #headertext ul {
    margin: 0;
  }

  .page-holder {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: row;
    background: rgb(52, 146, 234);
    width: 100%;
    border-bottom: 5px;
  }

  #login-bg {
    object-fit: cover;
    width: 60%;
    height: 92.5vh;
  }